<a routerlink="/" class="navbar-brand" href="/">conduit</a>

<ul class="nav navbar-nav pull-xs-right">
  <li class="nav-item">
    <a routerlink="/" class="nav-link" href="/">Home</a>
  </li>

  <li class="nav-item">
    <a
      routerlink="/login"
      routerLinkActive="active"
      class="nav-link"
      href="/login"
      >Sign in</a
    >
  </li>

  <li class="nav-item">
    <a
      routerlink="/register"
      routerLinkActive="active"
      class="nav-link"
      href="/register"
      >Sign up</a
    >
  </li>
</ul>

<h1>
  <ul>
    conduit
  </ul>
  <ul>
    <li>
      A place to share your
      <a routerLink="/">Angular </a>
      knowledge.
    </li>
  </ul>
</h1>
